@{
    ViewBag.Title = "Quên mật khẩu";
}
@section Styles {
    <link rel="stylesheet" href="~/css/ForgotPassword.css" asp-append-version="true" />
}

<h2>Quên mật khẩu</h2>

<form method="post" asp-action="ForgotPassword">
    <button type="submit">Gửi yêu cầu</button>
</form>

@if (ViewBag.ErrorMessage != null)
{
    <div style="color:red;">
        @ViewBag.ErrorMessage
    </div>
}

@if (ViewBag.Message != null)
{
    <div style="color:green;">
        @ViewBag.Message
    </div>
}
