@model website.Models.InvoiceItem

@{
    Layout = "~/Views/QuanLy/_Layout.cshtml";
    ViewData["Title"] = "Chỉnh sửa mục hóa đơn";
}
<h1>Xóa Hóa đơn</h1>

<h3>Bạn có chắc chắn muốn xóa hóa đơn này không?</h3>

<div>
    <h4>Sản phẩm: @Model.ProductName</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Số lượng</dt>
        <dd class="col-sm-10">@Model.Quantity</dd>

        <dt class="col-sm-2">Số ngày thuê</dt>
        <dd class="col-sm-10">@Model.RentalDays</dd>

        <dt class="col-sm-2">Đơn giá</dt>
        <dd class="col-sm-10">@Model.Price.ToString("C")</dd>

    </dl>
</div>

<form asp-action="DeleteConfirmed">
    <input type="hidden" asp-for="InvoiceItemId" />
    <div class="form-group">
        <button type="submit" class="btn btn-danger">Xóa</button>
        <a asp-action="Index" class="btn btn-secondary">Hủy</a>
    </div>
</form>
